#generated except source/configuration files
*.exe
*.ilk
*.lib
*.dll
*.pdb
*.idb
*.obj
*.pch
*.log
*.tlog
*.lastbuildstate
*.opendb
*.db
*.suo
*.ipch
*.enc
*.mov

#folders
imageProcessing/.vs
imageProcessing/Release
imageProcessing/Debug
imageProcessing/x64
imageProcessing/5_RollingShutter
imageProcessing/5_RollingShutter/data